.contact{
    display: flex;
}

.contact .contact-socio{
    width: 60%;
    padding:  70px;
}
.contact .contact-socio h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    /* identical to box height */
    letter-spacing: -0.03em;
    
    color: #000000;
}
.contact.contact-socio p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    /* or 169% */
    
    
    color: #000000;
}
.contact .contact-socio .socio,
.contact .contact-socio  .email,
.contact .contact-socio  .phone{
    display: flex;
   align-items: center;
   flex-direction: row;
}

.contact .contact-socio .socio .linkedin-wrap
,.contact .contact-socio .socio .twitter-wrap{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid  #2351DC;;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.contact .contact-socio .socio h4{
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    
    color: #000000;
}
.contact .contact-socio .email a,
.contact .contact-socio .phone a{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    text-decoration: none;
    
    color: #000000;
}
.contact .contact-socio .email{
    margin: 20px 0;
}
.contact .contact-socio .email p,
.contact .contact-socio .phone p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    color: #737373;
}
.contact .contact-socio .socio .linkedin,
.contact .contact-socio .socio .twitter{
    
    color: #2351DC;
    width: 20px;
    height: 20px;
}
.contact .contact-form  {
    width: 40%;
    background: #1C41B0;
    padding: 40px;

    display: block;
}
.contact .contact-form form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-form  form input,
.contact-form form textarea{
    border: none;
    outline: none;
    border-bottom: 1px solid #FFF;
    background: #1C41B0;
    margin-bottom: 15px;
    font-family: 'Manrope';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.03em;
   
    padding-bottom: 15px;
}
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFFFFF;
    opacity: 1;
    font-weight: 400; 
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.03em;
    /* Firefox */
}
.contact-form form button{
    width: 150px;
    padding: 10px;
    margin-top: 15px;
    
    background: #FFFFFF;
    /* White */
    
    border: 1px solid #FFFFFF;
    border-radius: 12px;
     color: #2351DC;
}

.email-icon,.phone-icon{
    color: #2351DC;
    width: 38px;
    height: 36px;
    margin-right: 10px;
}

.contact-form h3{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.03em;
    
    color: rgba(255, 255, 255, 0.7);
}
.contact-form h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.03em;
    
    color: #FFFFFF;
}