footer{
    padding: 70px;
    text-align: center;
    background: #07102C;
}
.footer-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.footer-wrap div{
    background: grey;
    height: 2px;
    width: 34%;
}
footer .footer-wrap h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.03em;
    margin: 0 10px;
    /* White */
    
    color: #FFFFFF;

}
footer .linkedin-wrap,footer .twitter-wrap, footer .envelope-wrap{
    border: 1px solid #FFFFFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin: 20px 10px;
}
.footer-socio-icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

footer  .linkedin, footer .twitter, footer .envelope{
    color: #FFFFFF;
    width: 20px;
}
footer pre{
    color: #FFFFFF;
}