nav.socio{
    width: 100%;
    background: #D3DCF8;
    padding: 39px 80px;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav .socio-icons{
    display: flex;
}
nav .socio-icons .linkedin,
nav .socio-icons .twitter{
    display: grid;
    place-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #2351dc;
    border-radius: 50%;
    margin-left: 15px;
}
nav .socio-icons .linkedin img,
nav .socio-icons .twitter img{
width: 13px;
height: 13px;
}