*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 39px 80px;
}

nav ul{
display: flex;
justify-content: space-between;
align-items: center;
}
nav h5{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;
    /* letter-spacing: -0.03em; */
    color: #000000;
}
nav ul li{
    list-style: none;
    margin-left: 15px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #000000;
}